body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(public/gradient.jpg);
    color: #ffffff;
}

.container {
    color: #333333;
    text-align: center;
    width: 600px;
}

.header {
    padding: 20px;
    color: #ffffff;
}

.logo {
    width: 150px;
    margin-bottom: 10px;
}

.content {
    text-align: left;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    overflow: hidden;
    background-color: #ffffff;
    padding: 40px;
}

.content h2 {
    margin-top: 0;
}

.content p {
    margin: 10px 0;
}

.botao  {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    margin-top: 10px;
    background: #1472FF;
    border: none;
    padding: 15px 40px;
    color: #ffffff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background 0.3s ease;
}

button:hover {
    background: #0066ff;
}