{% extends 'base.html' %}
{% load static %}
{% block title %}Adicionar Empresa{% endblock %}

{% block main %}
    <h1>Adicionar Empresa</h1>

    <script id="django-messages" type="application/json">
        [
            {% for message in messages %}
                {"message": "{{ message }}", "tags": "{{ message.tags }}"}{% if not forloop.last %},{% endif %}
            {% endfor %}
        ]
    </script>
    
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        {% if automacoes %}
            <h2>Selecione as Automações:</h2>
            <select name="automacoes" id="id_automacoes" multiple>
                {% for automacao in automacoes %}
                    <option value="{{ automacao.id }}">{{ automacao.nome }}</option>
                {% endfor %}
            </select>
        {% else %}
            <p>Nenhuma automação encontrada</p>
        {% endif %}

        <button type="submit">Salvar</button>
    </form>
{% endblock %}

{% block static %}
    <script src="{% static 'empresas/js/messages.js' %}"></script>
{% endblock %}