{% extends 'base.html' %}
{% block title %}Editar Empresa{% endblock %}

{% block main %}
    <h1>{{empresa}}</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        {% if automacoes %}
            <h2>Selecione as Automações:</h2>
            <select name="automacoes" id="id_automacoes" multiple>
                {% for automacao in automacoes %}
                    <option value="{{ automacao.id }}">{{ automacao.nome }}</option>
                {% endfor %}
            </select>
        {% else %}
            <p>Nenhuma automação encontrada</p>
        {% endif %}

        <input type="submit" class="btn btn-success" value="Editar empresa">
    </form>
{% endblock %}